<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Python 
- Pandas 
- Pycharm 
- SQL

#### Some of the popular languages that Data Scientists use are:

In [4]:
print('1. Python')
print('2. R')
print('3. SQL')

1. Python
2. R
3. SQL

In [5]:
print('Some of the commonly used libraries used by Data Scientists inlcude:')
print('1. Numpy')
print('2. Pandas') 
print('3. Seaborn') 
print('4. Matplotlib')

Some of the commonly used libraries used by Data Scientists inlcude:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib

|Data Science Tools| 
|------------------|
|Jupyter Notebook|
|VS Code| 
|Pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This is a simple arithmetic expression to multiply then add integers 

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60 

200//60

3

## Author 
Scott Madland